body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    transform: rotate(-90deg);
    white-space: nowrap;
    position: absolute;
    top: 42%;
    left: -20px; /* Adjust the distance from the left as needed */
    max-left: 30px;
    font-size: 2.8em;
    line-height: 1.5;
    color: #4B3177;
}

table {
    /* border-collapse: separate; */
    border-spacing: 0;
    border: 1px solid black;
    width: 40%;
    min-height: 90vh;
    max-height: 60vh;
    margin: auto;
    border: 1px solid black;
    position: relative;
}


th, td {
    /* padding: 5px; */
    padding-left:10px;
    padding-right:10px;
    text-align: center;
    height: 20px;
    
}


/* Hide internal borders within the Expected and Actual columns */

th {
    background-color: #f2f2f2;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

td {
    border-right: 1px solid black;
}

tr {
    height: 50px; /* Set a max height for the table rows */
    
}

td:nth-child(3) {
    background-color: #f2f2f2;;
}

.logo-container {
    display: flex;
    overflow: visible;
    white-space: nowrap; 
    align-items: center;
    justify-content: space-evenly;
    /* position: absolute; */
    margin-top: -20px;
    width: 40%;
    user-select: none;
    
}

.logo {
    /* width: 50px; */
    height: 50px;
    margin-right: -10px; /* Add margin between logos */
    position: relative;
    cursor: pointer;
    position: relative;
    
}



.expected-column,
.actual-column {
    width: 200px; /* Adjust the width as needed */
    
}

.points-column {
    width: 30px; /* Adjust the width as needed */
}

th:first-child {
    background-color: #02AD4D; /* Set the background color of the first cell in the header row */
}

td:first-child {
    max-width: 30px;
    width: 30px;
    color: #fff; /*Set text color to white for better visibility*/
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #02AD4D
}


.bottom-left-text {
    position: absolute;
    bottom: 0px;
    left: 90px;
    margin-bottom: 30px;
    color: #4B3177; /* Set the font color to #4B3177 */
    font-weight: bold;
}